body{
  margin: auto;
  width: 80%
}
p{
  margin: 5px;
}
#main{
  display: flex;
}
.select-div{
display: flex;}
table {
    border-collapse: collapse;
    width: 100%;
  margin: 20px;
  }
#sub{
  display: flex;
  margin: 5px;
}
